.section_container {
  content-visibility: auto;
  contain-intrinsic-inline-size: 1000px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  max-width: 90.0rem;
  width: 100%;
}

.separator {
  height: 3.0rem;
}

@media (min-width: 550px) {
  .separator {
    height: 7.0rem;
  }
}

@media (min-width: 1400px) {
  .section_container {
    max-width: 110.0rem;
  }
}
