.content_container {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 2rem;
    max-width: 95%;
}

.content_container a {
  align-items: center;
  display: flex;
  gap: 1.0rem;
  margin-bottom: 0.5rem;
  transition: all var(--transition-time) ease-in-out;
  width: fit-content;
}

.content_container a:hover {
  transform: scale(1.011);
}

.content_container a img {
  border-radius: 100px;
  object-fit: contain;
}

.content_container time {
  color: #bababa;
}

.tech_container {
  align-items: center;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

@media (min-width: 800px) {
    .content_container {
      grid-template-columns: 50% 50%;
      column-gap: 10%;
    }
}