.dropdown_container {
  margin-left: var(--nav-mobile-spacing);
  max-width: 100%;
  padding: 0.5rem;
  position: relative;
  z-index: 5;
}

.dropdown_input {
  display: none;
}

.label_container {
  align-items: center;
  display: flex;
}

.label {
  font-family: Arial;
}

.dropdown_input:checked+.label_container .label,
.dropdown_input:not(:checked)+.label_container .label {
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  position: relative;
  transition: all 200ms linear;
}

.section_dropdown {
  background-color: transparent;
  border-radius: 5px;
  left: -12px;
  min-width: 12.0rem;
  opacity: 0;
  padding: 10px;
  padding-bottom: 0;
  pointer-events: none;
  position: absolute;
  top: 37px;
  transform: translateY(20px);
  transition: all 150ms linear;
  width: 100%;
}

.dropdown_input:checked~.section_dropdown {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.label+svg {
  transform: rotate(0) translateY(1.5px);
}

.dropdown_input:checked+div .label+svg {
  transform: rotate(-180deg);
}

.label+svg:hover {
  transform: translateY(1.5px);
}

.label+svg path {
  fill: white;
  transition: all var(--transition-time);
}

.label_container:hover svg path {
  fill: var(--gradient-color);
}

.label_container:hover label {
  color: transparent;
}

@media (min-width: 550px) {

  .dropdown_container {
    margin-left: 0;
  }

  .label_container {
    padding-bottom: 1px;
  }

  .section_dropdown {
    background-color: #2f3455;
    left: -6px;
  }

  .dropdown_input:checked~.section_dropdown::after {
    border-bottom: 8px solid #2f3455;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: '';
    display: block;
    height: 0;
    left: 10px;
    position: absolute;
    top: -7px;
    transition: all 200ms linear;
    width: 0px;
    z-index: 2;
  }
}