.tooltip_container {
    position: relative;
}

.tooltip_container .tooltip_text {
    background-color: #555;
    border-radius: 6px;
    left: 50%;
    max-width: 500px;
    min-width: 100px;
    opacity: 0;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: -10px;
    transform: translate(-50%, 10%);
    transition: all var(--transition-time) ease-in-out;
    visibility: hidden;
    z-index: 1;
}

.tooltip_container .tooltip_text::after {
    content: "";
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 5px;
    border-color: #555 transparent transparent transparent;
}

.tooltip_container:hover .tooltip_text {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -100%);
}