.button {
  height: 3rem;
  position: fixed;
  right: 10px;
  top: 20px;
  visibility: visible;
  width: 4rem;
  z-index: 10;
}

.overlay {
  background: black;
  bottom: 0;
  height: 100vh;
  left: 0;
  opacity: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--transition-time) ease-in-out;
  width: 100vw;
  z-index: 5;
}

.overlay__active {
  opacity: 0.8;
  pointer-events: all;
}


@media (min-width: 550px) {
  .button {
    display: none;
  }
}